* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.overflow {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
}

.header {
  padding-bottom: 60px;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../img/bg.jpg") no-repeat center top / cover;
}

.m-menu {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  position: relative;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 17px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.user {
  margin-left: auto;
  color: #fff;
  display: flex;
  align-items: center;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.film {
  margin-top: 60px;
  color: #fff;
  display: flex;
}

.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}

.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}

.film-description {
  font-size: 16px;
  line-height: 150%;
  max-width: 570px;
}

.film-trailer {
  margin: auto;
}

.film-details {
  margin-top: 51px;
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}

.time-icon {
  margin-right: 14px;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}

.rating-icon {
  margin-right: 12px;
}

.rating-current {
  font-size: 24px;
  line-height: 150%;
}

.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session-date-block {
  display: flex;
}

.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.session-mouth {
  font-size: 16px;
  line-height: 19px;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}

.session-date-item.active {
  background-color: #fe8e05;
  color: #621402;
}

.session-cinema {
  margin-right: 20px;
}

.select {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  cursor: pointer;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 19px;
  transition: transform 0.3s;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid #fff;
}

.select.active::after {
  transform: rotate(-180deg);
}

.select.active .select-list {
  opacity: 1;
  transform: scaleY(1);
}

.select-input {
  width: 100%;
  height: 100%;
  background-color: #621402;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  outline: none;
  padding: 0 18px;
  cursor: pointer;
  color: #fff;
}

.select.active .select-input {
  border-radius: 5px 5px 0 0;
}

.select-input::placeholder {
  color: inherit;
}

.select-list {
  background-color: #621402;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  overflow: auto;
  max-height: 300px;
  list-style: none;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  z-index: 12;
}

.select-list::-webkit-scrollbar-thumb {
  background-color: #000;
  width: 3px;
}

.select-item {
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}

.select-item:hover {
  background-color: #621402;
}

.select-item span {
  color: #fff;
}

.scheme {
  margin-bottom: 40px;
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  overflow-x: auto;
}

.scheme-svg {
  max-width: 1170px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 20px;
}

.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.scheme path.active,
.scheme path.active:hover {
  fill: #fe8e05;
}

.legend {
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 90%;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 38px;
}

.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.legend-active {
  color: #febe05;
}

.legend svg {
  margin-right: 15px;
}

.legend path.path,
.legend path.path:hover {
  fill: none;
  cursor: default;
}

.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.price-tag {
  font-size: 52px;
  line-height: 61px;
}

.button {
  background-color: #fe8e05;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .select-cinema {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .session {
    flex-wrap: wrap;
  }

  .session-date {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .session-cinema {
    margin-bottom: 20px;
  }

  .menu-item {
    margin-right: 20px;
  }
}

@media (max-width: 810px) {
  .avatar {
    margin-left: 10px;
  }
  .menu-item {
    margin-right: 15px;
  }
}

@media (max-width: 781px) {
  .menu-item {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #621402;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: 0.5s;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .m-menu {
    display: block;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;    
  }

  .navbar a {
    position: relative;
    z-index: 10;
  }

  .user {
    position: relative;
    z-index: 10;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
  }

  .film-description {
    margin-right: 30px;
  }

  .film {
    flex-direction: column;
  }

  .film-trailer {
    margin-top: 40px;
  }

  .scheme-svg {
    min-height: 600px;
  }
}

@media (max-width: 535px) {
  .session-cinema {
    margin-right: 0;
  }

  .select-block {
    width: 100%;
  }
}


@media (max-width: 470px) {
  .session-date-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .session-date-item {
    margin-bottom: 20px;
  }

  .button {
    padding: 20px;
  }
}

@media (max-width: 360px) {
  .price {
    flex-wrap: wrap;
  }

  .button {
    margin-top: 20px;
  }
}

@media (max-width: 285px) {
  .avatar {
    margin-left: 8px;
  }
}
